.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.main-container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(250, 249, 249, 0.515);
  margin: 120px auto;
  max-width: 600px;
  max-height: 600px;
  padding: 20px;
  border-radius: 5px;
}
header {
  margin-bottom: 40px;
}
h1 {
  text-align: center;
  color: rgba(49, 48, 48, 0.875);
}

.form-container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 15px;
  border: 1px solid rgba(31, 31, 31, 0.142);
  border-radius: 4px;
}

form {
  display: flex;
  margin-bottom: 10px;
}
.instructions {
  font-size: small;
  color: rgba(49, 48, 48, 0.819);
}
.input {
  color: rgb(40, 40, 40);
  font-weight: bold;
  width: 80%;
  padding: 12px;
  border: 1px solid rgba(56, 56, 57, 0.688);
  border-radius: 3px;
  background-color: rgba(97, 97, 95, 0.253);
  font-size: 15px;
}
.submit-button {
  width: 80px;
  padding: 12px;
  margin-left: 4px;
  border: 1px solid rgba(38, 39, 40, 0.688);
  border-radius: 3px;
  background-color: rgba(38, 39, 40, 0.688);
  color: rgba(232, 231, 222, 0.817);
  text-align: center;
  font-size: 14px;
}

.submit-button:hover {
  background-color: rgba(97, 97, 95, 0.253);
  color: rgb(52, 51, 51);
}

.quote {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgba(31, 31, 31, 0.142);
  border-radius: 4px;
  color: rgb(40, 40, 40);
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
}
.hidden {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.generating {
  animation: blink 1s step-start 0s infinite;
}
footer {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: rgba(49, 48, 48, 0.938);
}

a:link {
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: rgb(49, 48, 48);
}
